.extauth .inner {
	display: block;
	text-indent: -99999px;
	width: 105px;
	height: 27px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
	padding-bottom: 10px;
}

.extauth .google .inner {
	background: url("../images/sign-in-with-google.png") no-repeat scroll left top transparent;
}

.extauth .fb .inner {
	background: url("../images/fbconnect.png") no-repeat scroll left top transparent;
}

.extauth .password .inner {
	background: url("../images/password.png") no-repeat scroll left top transparent;
}

#extauth_extra_login_page p {
	float: left;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

#extauth_extra_login_page .wrapper {
	width: 100%;
	text-align: center;
}

#extauth_extra_login_page .center {
    display:inline-block;
    *display:inline;/* IE*/
    *zoom:1;/* IE*/
}

#extauth_extra_login_page .clear {
	clear: both;
}
